
/*logo*/
nav{
background: black;
  background-image: url(../../../../assets/IMG/menu.jpg);
  }

.logo{
color: white;
background: green;
}


  .nav-item:hover {
  	background: green;
  	border-radius: 5px;

  }
  .dropdown-toggle{
    background: green;
    border-radius: 5px;
  }
  img{
  	width: 30%;
  }
