

   <!--contenido-->
   <section id="content">

     <!--el acordeon -->

    <div class="card">
      <div class="card-header">
        El mundo de los Videos juegos
      </div>
      <div class="card-body">
        <strong class="card-title">Need For Speed</strong>
        <p class="card-text">  Nuestro objetivo en Need for Speed Most Wanted es conseguir ser el más buscado por las fuerzas del orden. Para ello nos tendremos que valer de nuestro coche, el cual tendremos que tunear al máximo para conseguir ganar en las carreras ilegales que se celebrana en plena ciudad.
        </p>
        <a href="https://es.wikipedia.org/wiki/Need_for_Speed:_Most_Wanted_(videojuego_de_2012)" class="btn btn-success" target="_blank">Ir a su wiki</a>
      </div>
    </div>




    <div class="card">
      <div class="card-header">
        El mundo de los Videos juegos
      </div>
      <div class="card-body">
        <strong class="card-title">God Of War</strong>
        <p class="card-text">    es una serie de videojuegos en 3ª. persona creada por SCE Santa Monica Studio y distribuida por Sony Computer Entertainment. Se basa en las aventuras de un semidiós espartano, Kratos, quien se enfrenta a diversos personajes de la mitología griega y nórdica, tanto héroes

        </p>
        <a href="https://es.wikipedia.org/wiki/God_of_War_(serie)" class="btn btn-success" target="_blank">Ir a su wiki</a>
      </div>
    </div>


    <div class="card">
      <div class="card-header">
        El mundo de los Videos juegos
      </div>
      <div class="card-body">
        <strong class="card-title">Grand Theft Auto V</strong>
        <p class="card-text">    Grand Theft Auto V (abreviado como GTA V o GTA 5) es un videojuego de acción-aventura de mundo abierto desarrollado por el estudio Rockstar North y distribuido por Rockstar Games. Fue lanzado el 17 de septiembre de 2013 para las consolas PlayStation 3 y Xbox 360.4​ Posteriormente, fue lanzado el 18 de noviembre de 2014 para las consolas de nueva generación

        </p>
        <a href="https://www.rockstargames.com/V/es/restricted-content/agegate/denied" class="btn btn-success" target="_blank">Ir a su wiki</a>
      </div>
    </div>


    <div class="card">
      <div class="card-header">
        El mundo de los Videos juegos
      </div>
      <div class="card-body">
        <strong class="card-title">Mortal Kombat</strong>
        <p class="card-text">    Mortal Kombat es una franquicia de videojuego de lucha creada por Ed Boon y John Tobias en 1992. Las cuatro primeras entregas fueron distribuidas por Midway Games y lanzadas principalmente en máquinas arcade; posteriormente estuvieron disponibles en consolas domésticas.

        </p>
        <a href="https://www.mortalkombat.com/" class="btn btn-success" target="_blank">Ir a su wiki</a>
      </div>
    </div>


    <div class="card">
      <div class="card-header">
        El mundo de los Videos juegos
      </div>
      <div class="card-body">
        <strong class="card-title">Mario Bros</strong>
        <p class="card-text">    Super Mario es una serie de videojuegos de plataformas creados por la empresa desarrolladora Nintendo y protagonizados por su mascota, Mario. También conocida como la serie Super Mario Bros. o simplemente la serie Mario, es la serie principal de la franquicia de Mario

        </p>
        <a href="https://es.wikipedia.org/wiki/Mario_Bros." class="btn btn-success" target="_blank">Ir a su wiki</a>
      </div>
    </div>




  </section>
