footer {
	
  color:white;
  height: 47px;
  background: rgba(51, 51, 51, 0.70);
  margin:0px auto;
  width: 65%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top:50px;
  line-height:47px; 
}
p{
	color:white;
}