
 <p class="fst-italic fs-5 mt-2">Deja me Un mensaje</p>

 <form id="form">

<label for="from_name" class="form-label m-2">nombre</label>


<input type="text" class="form-control" placeholder="Nombre" name="from_name" id="from_name" required/>


<label for="to_email" class="form-label m-2">email</label>


<input   type="email" class="form-control" name="to_email" id="to_email" placeholder=" Tu Email"  required/>


<div>
       <label class="form-label m-2"for="message">Mensaje</label>
     </div>
     <textarea  class="form-control" name="message" id="message" placeholder="Mensaje"  rows="3" required></textarea>

<br>

<input type="submit" id="button" value="Enviar"  class="btn btn-primary"/>



</form>
