

<div class="card text-center">
  <div class="card-body">
    
    <div class="row"> 
     <div class="col">  
        
      <p class="fs-2 fw-bold">
      <strong id="diaSemana"  class="diaSemana">  </strong>
       <strong id="dia"  class="dia">  </strong> 
        de
      <strong  id="mes" class="mes"> </strong>
      del 
      <strong id="year" class="year"> 
        <mat-icon aria-hidden="false" aria-label="Example calendar icon">
          today
          </mat-icon>
      </strong>
    </p>
    </div> 
  </div>



  </div>
  <div class="card-body">
  
    <div class="row">
    <div class="col-6 offset-3 fs-2 fw-bold">
    <strong id="horas" class="horas">  </strong>
    :
    <strong id="minutos" class="minutos">  </strong>
    : 
      <strong id="segundos" class="segundos">  </strong>
      <strong id="ampm" class="ampm">  
        <mat-icon aria-hidden="false" aria-label="Example calendar icon">
          schedule
          </mat-icon>
      </strong>
  
  </div>


</div>
   
  </div>
  <div class="card-footer text-muted">
   Del dia Actual
  </div>
</div>
