<app-slider></app-slider>

	
		<div class="col-12">
			<div class="row">
			<div class="col-8">
<div *ngFor="let element of data">
	<h2>{{element.title}}</h2>
<mat-icon aria-hidden="false" aria-label="Example email icon">
games
</mat-icon>
	<p class="text-muted">{{element.date}}</p>

<p class="fst-italic">{{element.content}}</p>


<button class=" btn btn-outline-success m-2"><a routerLink="/detalles">Ver mas</a></button>

</div>

<hr>
</div>

			<div class="col-4">
<app-forms></app-forms>
				</div>
		</div>
	</div>