 <aside  id="sidebar">
    <div id="about"><h4><span>¿quien soy?</span></h4>
   <img src="../../../../../assets/IMG/usuario.jpg" class="rounded" alt="usuario">
<p class= "fst-italic"><strong>Joven estudiante de ingenieria apasionado con el desarrollo web.
 espero que distrutes al igual que a mi de mi pagina 
</strong></p>
    
</div>

   
    <p class="fst-italic fs-3">Identificate</p>
    <form>

<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">No Compartiremos tus datos con nadie.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>

  <button type="submit" class="btn btn-primary">Enviar</button>
</form>

</form>
<hr>
<!--Correo electronico-->
  
    <p class="fst-italic fs-5 mt-2">Deja me Un mensaje</p>
    
    <form id="form">

<label for="from_name" class="form-label m-2">nombre</label>


<input type="text" class="form-control" placeholder="Nombre" name="from_name" id="from_name" required/>


<label for="to_email" class="form-label m-2">email</label>


<input   type="email" class="form-control" name="to_email" id="to_email" placeholder=" Tu Email"  required/>


  <div>
          <label class="form-label m-2"for="message">Mensaje</label>
        </div>
        <textarea  class="form-control" name="message" id="message" placeholder="Mensaje"  rows="3" required></textarea>

<br>
<input type="submit" id="button" value="Enviar"  class="btn btn-primary"/>



</form>
<!---
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>

<script type="text/javascript">
  emailjs.init('user_JCsxjlOoRVBBA3oCFLrby')
</script>

-->



</aside> 
